.DS_Store
node_modules/
/dist/
/backstage/
/mock/
/server/
/preview/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/server.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
